- 
    let vitya = {
        vitya: {
            header: "Віктор",
            img: "img/vitya.jpg",
            alt: "Розробник Explore To Survive",
            icon: "telegram",
            href: "https://t.me/Smerchiks",
            title: "Віктор - розробник Explore To Survive, відповість на будь яке питання пов'язане з грою.",
            hover: "omlg-glasses"
        },
        community: {
            header: "Спільнота ETS",
            img: "img/iconblue.svg",
            alt: "Спільнота Explore To Survive",
            icon: "telegram",
            href: "https://t.me/+Wiw63fEM1og3MDU6",
            title: "Хочеш знайти собі друга щоб разом грати в Explore To Survive? Біжи в нашу спільноту в телеграм.",
            hover: "link-hover"
        },
        game: {
            header: "ETS",
            img: "img/iconyellow.svg",
            alt: "Explore to Survive скачати",
            icon: "play-store",
            href: "https://play.google.com/store/apps/details?id=com.com.morkovka_zet.ExploretoSurvive.ExploretoSurvive",
            title: "Не можеш знайти де завантажити гру? Натискай сюди :0.",
            hover: "link-hover"
        },
        tiktok: {
            header: "Games.Zet",
            img: "img/logo-company.png",
            alt: "ETS",
            icon: "tiktok",
            href: "https://www.tiktok.com/@games.zet",
            title: "Тік-ток канал Explore To Survive",
            hover: "link-hover"


        }
    };
