- 
    let vitya = {
        vitya: {
            header: "Віктор",
            img: "img/vitya.jpg",
            alt: "Розробник Explore To Survive",
            icon: "telegram",
            href: "https://t.me/Smerchiks"
        },
        community: {
            header: "Спільнота ETS",
            img: "img/iconblue.svg",
            alt: "Спільнота Explore To Survive",
            icon: "telegram",
            href: "https://t.me/+Wiw63fEM1og3MDU6"
        },
        game: {
            header: "ETS",
            img: "img/iconyellow.svg",
            alt: "Explore to Survive скачати",
            icon: "play-store",
            href: "https://play.google.com/store/apps/details?id=com.com.morkovka_zet.ExploretoSurvive.ExploretoSurvive"
        },
        tiktok: {
            header: "Games.Zet",
            img: "img/logo-company.png",
            alt: "ETS",
            icon: "tiktok",
            href: "https://www.tiktok.com/@games.zet"
        }
    };
