include components/mixins
include components/varibles

doctype html
html(lang="uk")
  head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible" content="IE=edge")
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
      meta(name="description" content="Explore To Survive - це фанатська гра по салкеру (Сталкер клікер) для телефонів на базі Android. Постапокаліптичний клікер зі сталкерською атмосферою та багатою геймплейною інтригою.")
      meta(name="keywords" content="Explore to Survive, сталкер клікер, сталкер на телефон, Morkovka Zet")
      meta(name="author" content="Кашко Костянтин")
      meta(name="publisher" content="Кашко Костянтин")
      meta(name="copyright" lang="uk" content="Інформація про гру Explore To Survive")
      link(rel="stylesheet" href="css/style.css")
      link(rel="shortcut icon" href="img/logo.ico" type="image/x-icon")
      meta(property="og:title" content="Explore To Survive - фанатська гра про сталкер, клікер сталкер")
      meta(property="og:description" content="Explore To Survive - це фанатська гра по салкеру (Сталкер клікер) для телефонів на базі Android. Постапокаліптичний клікер зі сталкерською атмосферою та багатою геймплейною інтригою.")
      meta(property="og:image" content="img/logo.png")
      meta(property="og:url" content="https://kostyantinkaschko.github.io/ExploreToSurviveSite/index.html")
      meta(property="og:type" content="video.game")
      title Explore To Survive - офіційний сайт, клікер сталкер
  body.black-bg
    .vignette
    .firstpage
      header#header(itemscope)
        +topline('menu')
        section.wrapper.main-header
          .header-text.line
            .game-name(itemprop="brand")
              img(itemprop="logo" src="img/kartinka.png" alt="Сталкер Клікер" title="Explore To Survive - хороший варіант вбити час для справжнього сталкер")
            .button.text-center
              a(href="#main" itemprop="url") 
                span(itemprop="description") Що це таке?
            .info 
              .top-frame
              p(itemprop="description") Це фанатська гра по сталкеру для телефонів на базі Android. Постапокаліптичний клiкер.
              img(src="img/icon.svg" alt="Explore To Survive" itemprop="image" title="Explore to Survive - гра що створюється компанією games.zet")
              .bottom-frame
      main#main
       section(itemscope itemtype="https://schema.org/WebPage" itemprop="mainEntityOfPage").content
          .wrapper 
            .content-header
              h1(itemprop="name") E.x.p.l.o.r.e T.o S.u.r.v.i.v.e 
            .sides
              section.leftside
                div  
                  p(itemprop="description") Explore To Survive - постапокаліптична гра для телефонів на базі андроїд. Звичайний клікер, з великою кількостю різного контенту.
                div
                  ul(itemprop="description")
                    li Простий геймплей.
                    li Сталерська атмосфера.
                    li Таблиця лідерів, де ви зможете позмагатись з іншими гравцями.
                    li 
                      a(href="#community" id="community-button" itemprop="url") Спільнота
                      |  , з великою кількістю участиніків, де точно можна знайти нових друзів
                    li Та часті події з Ексклюзивними нагородами в спільноті вже чекають вас  
                    li Повністю безкоштовна, але з бонусами за підтримку
              section.rightside 
                a(itemprop="offers" href="https://play.google.com/store/apps/details?id=com.com.morkovka_zet.ExploretoSurvive.ExploretoSurvive" target="blank_") 
                  .gallary
                    .slider(title="Посилання на гру тут. Натискай на картинку.")
                      picture
                        source(srcset='img/webp/screenshot1.webp' type='image/webp')
                        img(itemprop="image" src='img/screenshot1.jpg' alt='Explore to Survive скачати')
                      picture   
                        source(srcset='img/webp/screenshot2.webp' type='image/webp')
                        img(itemprop="image" src='img/screenshot2.jpg' alt='Explore to Survive промокоди')
                      picture  
                        source(srcset='img/webp/screenshot3.webp' type='image/webp')
                        img(itemprop="image" src='img/screenshot3.jpg' alt='Morkovka_Zet')
                      picture
                        source(srcset='img/webp/screenshot4.webp' type='image/webp')
                        img(itemprop="image" src='img/screenshot4.jpg' alt='Мобільний сталкер')
                      picture
                        source(srcset='img/webp/screenshot5.webp' type='image/webp')
                        img(itemprop="image" src='img/screenshot5.jpg' alt='СТалкер на телефон')
                      picture 
                        source(srcset='img/webp/screenshot6.webp' type='image/webp')
                        img(itemprop="image" src='img/screenshot6.jpg' alt='Explore To Survive Взлом') 
                        /// хрен вам а не взлом:)
                      picture
                        source(srcset='img/webp/screenshot7.webp' type='image/webp')
                        img(itemprop="image" src='img/screenshot7.jpg' alt='Як грати в сталкер на телефоні?')
                      picture
                        source(srcset='img/webp/screenshot8.webp' type='image/webp')
                        img(itemprop="image" src='img/screenshot8.jpg' alt='Сталкер андроїд')
                      picture 
                        source(srcset='img/webp/screenshot9.webp' type='image/webp')
                        img(itemprop="image" src='img/screenshot9.jpg' alt='Енергетики Explore To Survive')
                      picture
                        source(srcset='img/webp/screenshot10.webp' type='image/webp')
                        img(itemprop="image" src='img/screenshot10.jpg' alt='Предвісник Жаху Explore To Survive')
                      picture
                        source(srcset='img/webp/screenshot11.webp' type='image/webp')
                        img(itemprop="image" src='img/screenshot11.jpg' alt='Голодний Студент Explore To Survive')
                      picture
                        source(srcset='img/webp/screenshot12.webp' type='image/webp')
                        img(itemprop="image" src='img/screenshot12.jpg' alt='Голодний Студент Explore To Survive дроп')
                      picture
                        source(srcset='img/webp/screenshot13.webp' type='image/webp')
                        img(itemprop="image" src='img/screenshot13.jpg' alt='Mobile Stalker')
                      picture
                        source(srcset='img/webp/screenshot14.webp' type='image/webp')
                        img(itemprop="image" src='img/screenshot14.jpg' alt='Майстерня Explore To Survive')
                      picture
                        source(srcset='img/webp/screenshot15.webp' type='image/webp')
                        img(itemprop="image" src='img/screenshot15.jpg' alt='Схема прокачки Explore To Survive')
                      picture
                        source(srcset='img/webp/screenshot16.webp' type='image/webp')
                        img(itemprop="image" src='img/screenshot16.jpg' alt='Система Рівнів Explore To Survive')
                      picture
                        source(srcset='img/webp/screenshot17.webp' type='image/webp')
                        img(itemprop="image" src='img/screenshot17.jpg' alt='Сховок Explore To Survive')
                      picture   
                        source(srcset='img/webp/screenshot18.webp' type='image/webp')
                        img(itemprop="image" src='img/screenshot18.jpg' alt='Як вбити моба в Explore To Survive')
                      picture
                        source(srcset='img/webp/screenshot19.webp' type='image/webp')
                        img(itemprop="image" src='img/screenshot19.jpg' alt='Преміум торговець Explore To Survive')
                      picture
                        source(srcset='img/webp/screenshot20.webp' type='image/webp')
                        img(itemprop="image" src='img/screenshot20.jpg' alt='Який сет зробити для 45 рівня в Explore To Survive?')
                      picture
                        source(srcset='img/webp/screenshot21.webp' type='image/webp')
                        img(itemprop="image" src='img/screenshot21.jpg' alt='Як добути серце оазису в Explore To Survive?')
                      picture
                        source(srcset='img/webp/screenshot22.webp' type='image/webp')
                        img(itemprop="image" src='img/screenshot22.jpg' alt='Як зкрафтити серце оазису в Explore To Survive')
                      picture 
                        source(srcset='img/webp/screenshot23.webp' type='image/webp')
                        img(itemprop="image" src='img/screenshot23.jpg' alt='Елемент балансу Explore To Survive')
                      picture
                        source(srcset='img/webp/screenshot24.webp' type='image/webp')
                        img(itemprop="image" src='img/screenshot24.jpg' alt='Де дістати Преміум монети в Explore To Surivive?')
      footer#footer
        section(itemscope itemtype="https://schema.org/ContactPage" itemprop="mainEntity").footer
          .wrapper  
            .footer-header
              h2(itemprop="headline").habar Притащив хабар?
              .radiation-line
              h2(itemprop="headline").contacts Зворотній зв'язок
            .footer-contacts
              .topside(itemscope itemtype="https://schema.org/Person" itemprop="author")
                .Vitya(itemprop="sameAs")
                  +Vitya(vitya.vitya)
                .community(id="community" ) 
                  +Vitya(vitya.community)
              .bottomside(itemscope itemtype="https://schema.org/Community" itemprop="community")
                .game(itemprop="offers")
                  +Vitya(vitya.game)
                .tiktok-mixin(itemprop="sameAs")
                  +Vitya(vitya.tiktok)
        +footer(footerlast)










    script(src="js/scripts.js")
